extends layout

block content
  a(href="/")
    img.img-responsive(src="/images/mappy_ruxpin.png")
  include components/puppet-imagemap
  include components/puppet-form
  include components/phrase-selector
  include components/speak-form